<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="csrf-token" content="zLw13ySUXMiR5xNleU60HxxcAbR4K5Nht1SeUim9">
        <title> IMS - Dashboard </title>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
   
    <style type="text/css">
        h6 {
            font-family: "Helvetica", arial;
            font-weight: 600;
            font-size: 11pt;
        }
        .item {
            color: #000000;
            text-align: center;
            height: 120px;
        }
        .font-bold {
            color: #ffffff;
        }
        .fav-icons{
            border-radius: 5px;
            padding: 15px 20px;
            margin-bottom: 10px;
            margin-top: 10px;
            color: #ffffff;
            justify-content: space-between;
        }
        .projects{
            background-color: #5CB85C;
        }
        .policies{
            background-color: #00ACED;  
        }
        .documents{
            background-color: #EEA032;
        }
        .users{
            background-color: #1c84c6;
        }
        .text-right{
            width: 60%;
        }
    </style>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        
    </head>
    <body>
      <div id="wrapper" class="container">          
          
               <div id="" class="gray-bg">
                   
                   <div class="row border-bottom">
            </div>
                              
                   
           
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
      
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-lg-12">
                                <div>
                                    <h3 class="mainTitle no-margin">DOT AP Integrated Management System</h3>
                                    <div class="overview">Overview &amp; Stats </div>
                                    <ul class="pull-right breadcrumb">
                                        <li>
                                            <i class="fa fa-home margin-right-5 text-large text-dark"></i> Home
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="col-sm-11 col-lg-3 col-md-12">
                    <div class="fav-icons projects">
                        <div class="row">
                            <div class="col-xs-4">
                                <i class="fa fa-puzzle-piece fa-5x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                                <span> Projects </span>
                                <h2 class="font-bold">4</h2>
                            </div>
                        </div>
                    </div> 
                
            </div>
          
                <div class="col-sm-11 col-lg-3 col-md-12">
                    <div class="fav-icons policies">
                        <div class="row">
                            <div class="col-xs-4">
                                <i class="fa fa-file-powerpoint-o fa-5x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                                <span> Policies </span>
                                <h2 class="font-bold">2</h2>
                            </div>
                        </div>
                    </div>
                </div>  
           
                <div class="col-sm-11 col-lg-3 col-md-12">
                    <div class="fav-icons documents">
                        <div class="row">
                            <div class="col-xs-4">
                                <i class="fa fa-file fa-5x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                                <span>Documents </span>
                                <h2 class="font-bold">0</h2>
                            </div>
                        </div>
                    </div>
                </div>  
            </a>
          
                <div class="col-sm-11 col-lg-3 col-md-12" >
                    <div class="fav-icons users">
                        <div class="row">
                            <div class="col-xs-4">
                                <i class="fa fa-user fa-5x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                                <span>Users </span>
                                <h2 class="font-bold">27</h2>
                            </div>
                        </div>
                    </div>
    
                </div> 
            
                
            </div>
        <div class="row" style="margin-top: 20px">
            <div class="col-lg-8">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Project Summary</h5>
                        
                    </div>
                    <div class="ibox-content">
                        <div class="row text-center">
                            <div  >
                               
                            </div>
                          
                        </div>
                    </div>
    
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>My Project Tasks</h5>
                    </div>
                    <div class="ibox-content">
                        <table class="table table-hover no-margins">
                            <thead>
                                <tr>
                                    <th>Responsibility</th><th>Due</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                                            
                                <tr>
                                    <td colspan="2">
                                        <p class="btn btn-success pull-right" style="color: #ffffff;">View all my tasks</p>
                                </tr>
                            
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
            
        </div>
        
        <div class="row">
            <div class="col-lg-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Meeting Schedule</h5>
                        <div class="pull-right">
                            <div class="btn-group">
                                <p type="button" class="btn btn-xs btn-success active">View Schedule</p>
                            </div>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div id="calendar"></div>
                     
                    </div>
    
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Documents Summary</h5>
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-warning btn-xs">Received</button>
                            </div>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>File</th>
                                    <th>From</th>
                                    <th>Due</th>
                                </tr>
                            </thead>
                            <tbody>
                                                            <tr>
                                    <td colspan="4">
                                        <div class="alert alert-dismissible alert-warning">
                                            <strong>No documents</strong> 
                                        </div>
                                    </td>
                                </tr>
                                                        </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="4">
                                        <p class="btn btn-success btn-sm pull-right">View all</p>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
    
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>ICT Feed</h5>
                        
                    </div>
                    <div class="ibox-content">
                        <div class="alert alert-dismissible alert-success" style="margin: 60px">
                            <strong>ICT RSS Feed</strong> 
                            
                        </div>
                    </div>
                </div>
            </div>
    
    
        </div>
        
     
        </div>
    </div>
                   
    
</div>
        
       
    </body>
    </html>
    
